input {
	background-color: none !important;
	cursor: default;
}

input:focus {
	box-shadow: none !important;
	border: 1px solid #ced4da !important;
}

.attempt-edit {
	.btn {
		background-color: #049dd9;
		color: #fff;
		font-weight: 500;
	}
}

.option.correct {
	background-color: #fff8ed;
}

.option.checked {
	background-color: #fce2e2;
}

.option.correct.checked {
	background-color: #e7f8e2;
}
