input {
	background-color: #fff !important;
	cursor: default;
}

input:focus {
	box-shadow: none !important;
	border: 1px solid #ced4da !important;
}

.attempt-edit {
	.btn {
		background-color: #049dd9;
		color: #fff;
		font-weight: 500;
	}
}
