.quiz-list {
	.import-btn {
		background-color: #049dd9;
		color: #fff;
	}

	.import-btn:hover {
		color: #000;
	}
}

.table-header {
	padding: 0 1rem 0.25rem 1rem;

	h6 {
		color: #048abf;
	}

	border-bottom: 1px solid #c0c0c0;
}
