@import "~bootstrap/scss/bootstrap";

.login-modal,
.register-modal {
	width: 80%;
	max-width: none;

	.modal-body {
		padding: 0;

		.login-modal-content,
		.register-modal-content {
			width: 100%;
			max-width: none;
		}
	}
}

.app {
	min-height: 100vh;

	padding-bottom: 2rem;
	background-color: #f3faff;
}
